/* добавляем шрифты */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/* общий стиль */
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
    min-width: 1280px;
    color: #000000;
  }

.main-background { /* основной фон сайта */
    background-color: #FFFFFF;
    width: 1200px;
}

.site-navigation-link { /* навигация сайта */
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.favorite-hotels-number { /* количество избранных отелей */
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
}

.main-link { /* ссылка "хочу сюда!" */
    background-color: #756157;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* index */

/* секция hero */
.hero {
    background-color: #756157;
    background-image: url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}

/* секция с преимуществами */
.advantages {
    text-align: center;
}

.advantages-heading { /* заголовок секции */
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.reasons { /* текстовый абзац в секции*/
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages-title { /* заголовки преимуществ */
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.advantages-comment { /* описания преимуществ */
    font-size: 18px;
    line-height: 21px;
    color:#333333;
}

.color-white .advantages-title,
.color-white .advantages-comment { /* цвет текста преимуществ 1 и 5 */
    color: #FFFFFF;
}

.advantages-list-item  { /* цвет фона преимуществ 1 и 5*/
    background-color: #82B3D3;
}

.background-lightblue { /* цвет фона преимуществ 2 и 4 */
    background-color: rgba(131, 179, 211, 0.12);
}

.background-lighter-blue { /* цвет фона преимущества 3 */
    background-color: rgba(131, 179, 211, 0.2);
}

/* секция с условиями */
.conditions {
    text-align: center;
}

.conditions-heading { /* заголовок секции */
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.recommendations { /* текстовый абзац в секции*/
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.conditions-title { /* заголовки условий */
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.conditions-comment { /* описания условий */
    font-size: 18px;
    line-height: 21px;
    color:#333333;
}

.item-housing { /* иконка "жилья" */
    background-image: url(../images/advantage-house.svg);
    background-repeat: no-repeat;
}

.item-food { /* иконка "еды" */
    background-image: url(../images/advantage-food.svg);
    background-repeat: no-repeat;
}

.item-souvenirs { /* иконка "сувениров" */
    background-image: url(../images/advantage-gift-box.svg);
    background-repeat: no-repeat;
}

/* секция поиска гостиниц */
.hotel-search {
    text-align: center;
}

.hotel-search-heading { /* заголовок секции */
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-dates { /* текстовый абзац в секции*/
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}
.hotel-search-link { /* ссылка "поиск гостиницы в седоне" */
    background-color: #756157;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* секция подписки */
.subscription { /* фон и цвет текста секции */
    background-image: url(../images/background-subscription.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.subscription-heading { /* заголовок секции */
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscription-comment { /* текстовый абзац в секции*/
    font-size: 22px;
    line-height: 26px;
}

.subscription-form{ /*поле ввода электронной почты*/
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
    color: #000000;
}

.subscription-button { /* кнопка "подписаться" */
    background-color: #82B3D3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}

/* футер */
.site-footer {
    text-align: center;
}

.phone-link { /* ссылка на номер телефона */
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

/* catalog */

.main-input-info {
    color: #FFFFFF;
    background-color: #756157;
    background-image: url(../images/background-filter.jpg);
    background-repeat: no-repeat;
}

.catalog-name {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-link {
    color: #FFFFFF;
    text-decoration: none;
}
/* секция подписки*/
.subscription-white {
    text-align: center;
}

.white-comment { /* текстовый абзац в секции*/
    color: #333333;
}

.infrastructure, .housing, .prices {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.infrastructure-item, .housing-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.prices-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.prices-input {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
    color: #000000;
}
